.nav-outer {
    background-color: #512da8;
    min-height: 80px;
    padding-top: 15px;
    border: none;
}

.nav-outer .nav-logo {
    font-size: 2em;
}

.nav-outer .nav-links {
    font-size: 1.25em;
}

.nav-outer .nav-links > li > a,
.nav-outer .nav-logo {
    color: white;
}

.nav-outer .nav-links > li > a:hover,
.nav-outer .nav-logo:hover {
    color: #ff5722;
}

.nav-section-margin-fix {
    margin-top: 75px;
}

.nav-header-margin-fix {
    margin-top: 250px;
}

.header {
    min-height: 700px;
    background-color: #673ab7;
}

.header h1 {
    color: #ffffff;
    text-align: center;
    font-size: 5em;
}

    @media screen and (max-width: 480px) {

        .header h1 {
            font-size: 3em;
        }
    }

.header hr {
    width: 25%;
    color: #ffffff;
    border: 1px solid #cdd1c4;
}

.header-sub-title {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

.header-btn {
    margin-top: 75px;
    margin-bottom: 60px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.header a:link {
    text-decoration: none;
    color: #ffffff;
}

.header-btn:hover, .header-btn:active {
    background-color: #ffffff;
}

.section-title{
    margin-top: 85px;
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
}

.about-section {
    background-color: #d1c4e9;
    padding-bottom: 70px;
}

.about-section .section-title {
    color: #212121;
}

.about-section hr {
    width: 25%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.about-section .about-info {
    color: #212121;
    font-size: 1.3em;
    padding-top: 25px;
    padding-left: 55px;
}

.explore-section {
    background-color: #ff5722;
    padding-bottom: 70px;
}

.explore-section .section-title {
    color: #ffffff;
}

.explore-section hr {
    width: 25%;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.explore-section .explore-info {
    color: #ffffff;
    font-size: 1.3em;
    padding-top: 25px;
    padding-left: 55px;
}

.explore-section a:link {
    text-decoration: none;
    color: #ffffff;
}

.create-section {
    margin-bottom: 50px;
    margin-top: 20px;
}

.create-section hr {
    width: 25%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.create-section .section-title {
    color: #212121;
}

.create-section input {
    height: 50px;
    font-size: 1.5em;
}

.create-section textarea {
    height: 125px;
    font-size: 1.5em;
    resize: none;
}
.create-section input, 
.create-section textarea {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-btn-all {
    font-size: 1.25em;
    -webkit-transition: all 0.6s ease; /* safari and chrome */
    -moz-transition: all 0.6s ease; /* firefox */
    -ms-transition: all 0.6s ease; /* ie 9 */
    -o-transition: all 0.6s ease; /* opera */
    transition: all 0.6s ease;
}

.create-cat-btn {
    margin-top: 30px;
    margin-bottom: 60px;
    color: #2c3e50;
    background-color: transparent;
    border: 1px solid #ff5722;
}

.create-cat-btn:hover, .create-cat-btn:active {
    background-color: #ff5722;
    color: #ffffff;
}

.catalogue-section-all .section-title {
    color: #212121;
}

.catalogue-section-all hr {
    width: 25%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.catalogue-section-all .catalogue-all-form {
    margin-top: 25px;
}

.catalogue-section-all .catalogue-all-links {
    margin-top: 40px;
}

.catalogue-section-all .catalogue-all-links .catalogue-all-list {
    list-style: none;
    text-decoration: none;
}

.catalogue-id-section .section-title a {
    text-decoration: none;
    color: #212121;

}

.catalogue-id-section hr {
    width: 25%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.catalogue-id-section .catalogue-id-section-col .catalogue-id-input  {
    margin-top: 20px;
}

.catalogue-id-section .catalogue-id-options {
    margin-top: 30px;
}

.catalogue-id-section .catalogue-id-options a {
    padding: 4px;
}

.catalogue-id-section .catalogue-id-movie-grid {
    margin-top: 70px;
    padding-bottom: 50px;
}

.catalogue-id-section .catalogue-id-movie-grid img {
    border: 1px solid black;
    -webkit-transition: all 0.6s ease; /* safari and chrome */
    -moz-transition: all 0.6s ease; /* firefox */
    -ms-transition: all 0.6s ease; /* ie 9 */
    -o-transition: all 0.6s ease; /* opera */
    transition: all 0.6s ease;
}

.catalogue-id-section .catalogue-id-movie-grid img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* for ie8 and earlier */
    transform: scale(1.1);
}

.catalogue-id-section .catalogue-id-empty {
    margin-top: 120px;
}

.movie-search-section .section-title {
    color: #212121;
}

.movie-search-section hr {
    width: 25%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.movie-search-section img {
    width: 60%;
    height: auto;
}

.movie-search-section .movie-search-section-row {
    padding-bottom: 70px;
    padding-top: 40px;
}

.movie-sep-section .section-title {
    color: #000000;
}

.movie-sep-section hr {
    width: 50%;
    background-color: #212121;
    color: #2c3e50;
    border: 1px solid #212121;
}

.movie-sep-section img {
    width: 60%;
    height: auto;
    margin-top: 90px;
}


.flashes {
    padding: 0.5em;
    margin-top: 2px;
    list-style: none;
    border-radius: 2px;
    background-color: #c8e0e8;
    border: 1px solid #aedae8;
    color: #000000;
}
