<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Online Movie Catalogue</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
</head>

<body>	
    {% if page != '404' %}	
    <header id="top">
      {% include 'navbar.html' %}
      
      {% if page == 'index' %}
        {% include 'indexheader.html' %}
      {% endif %}
    </header>
    {% endif %}

    {% if page=='404'%}
      {% include '404.html' %}
    {% elif page == 'index' %}
        {% include 'index.html' %}
    {% elif page == 'catalogues' %}
        {% include 'show_cat.html' %}
    {% elif page == 'catalougeid' %}
        {% include 'show_cat_id.html' %}
    {% elif page == 'moviesearch' %}
        {% include 'moviesearchresults.html' %}
    {% elif page == 'movie_sep' %}
        {% include 'movie_sep.html' %}
    {% endif %}

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>