<div class="header">
	<div class="container">
    	<div class="row">
	    		<div class="col-md-12 nav-header-margin-fix">
	            <h1>Online Movie Catalogue</h1>
	            <hr>
	            <p class="header-sub-title">Advanced Web Technologies Coursework</p>
	            <a href="/#create"><button class="btn custom-btn-all header-btn center-block">Get Started Now</button></a>
        	</div>
    	</div>
   	</div>
</div>