<section class="about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">About</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 about-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pellentesque turpis. Nunc pretium massa in aliquam semper. Vestibulum vitae sapien nunc. Nunc vitae purus at lacus faucibus rhoncus vel vel metus. Vivamus in est at ipsum fermentum porttitor eu eget nunc. Donec elementum molestie erat sit amet ultrices. Donec id felis et justo ultricies rhoncus. Etiam ultricies convallis tortor, a fringilla quam laoreet ac. Donec tincidunt gravida justo sed faucibus. Fusce laoreet metus vitae convallis aliquam.</p>
            </div>
            <div class="col-md-6 about-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pellentesque turpis. Nunc pretium massa in aliquam semper. Vestibulum vitae sapien nunc. Nunc vitae purus at lacus faucibus rhoncus vel vel metus. Vivamus in est at ipsum fermentum porttitor eu eget nunc. Donec elementum molestie erat sit amet ultrices. Donec id felis et justo ultricies rhoncus. Etiam ultricies convallis tortor, a fringilla quam laoreet ac. Donec tincidunt gravida justo sed faucibus. Fusce laoreet metus vitae convallis aliquam.</p>
            </div>        
        </div>
    </div>
</section>

<section class="explore-section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Explore</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 explore-info">
                <p>Explore a range of catalogues that have already been created. You can view movies that are specified in each catalogue and also add new movies to the catalogues.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="/catalogue"><button class="btn center-block custom-btn-all header-btn">Explore Now</button></a>
            </div>
        </div>
    </div>
</section> 

<section class="create-section" id="create">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Create</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form action="{{url_for('add_cat')}}" method="post" class="text-center">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Catalogue Title" name="catTitle">
                        <textarea type="textarea" class="form-control" placeholder="Description of catalogue"></textarea>
                        <button type="submit" class="btn centre-block custom-btn-all create-cat-btn">Create Catalogue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
