<section class="movie-search-section nav-section-margin-fix">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Search Results</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
			{% for movies in movieResults %}
				<div class="row movie-search-section-row">
					<div class="col-lg-6 col-sm-4">
						<a href="{{url_for('add_movie_to_catalogue', catid=catid, movieid=movies.movieid)}}"><img class="img-responsive center-block" alt="{{movies.title}}" src="{{config['TMDB_IMG_BASE_URL']}}{{movies.poster}}"></a>
					</div>
					
					<div class="col-lg-6 col-sm-8">
						<h3 class="text-center"><a href="{{url_for('add_movie_to_catalogue', catid=catid, movieid=movies.movieid)}}">{{movies.title}}</a></h3>
						<p>{{movies.overview}}</p>
						<p>Release Date: {{movies.releasedate}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>