<section class="movie-sep-section nav-section-margin-fix">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive center-block" alt="{{movie.title}}" src="{{config['TMDB_IMG_BASE_URL']}}{{movie.poster}}">
			</div>

			<div class="col-md-6">
				<h2 class="section-title">{{movie.title}}</h2>
				<hr>	
				<p><strong>Overview:</strong> {{movie.overview}}</p>
				<p><strong>Release Date:</strong> {{movie.releasedate}}</p>
				<p><strong>Genre:</strong> {{movie.genre}}</p>
				<p><strong>Runtime:</strong> {{movie.runtime}} minutes</p>
				<p><strong>Budget:</strong> ${{movie.budget}}</p>
				<p><strong>Revenue:</strong> ${{movie.revenue}}</p>
			</div>
		</div>
	</div>
</section>