<nav class="navbar navbar-default navbar-fixed-top nav-outer">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand nav-logo" href="{{url_for('index')}}">MovieCat</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right nav-links">
            <li><a href="/#about">About</a></li>
            <li><a href="/#explore">Explore</a></li>
            <li><a href="/#create">Create</a></li>
            <li><a href="#">SignIn</a></li>
         </ul>
      </div>
   </div>
</nav>