<section class="catalogue-section-all nav-section-margin-fix">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Catalogues</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 catalogue-all-form">
				<form action="{{url_for('add_cat')}}" method="post" class="text-center">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter a title for your new catalogue" name="catTitle">
					   	<span class="input-group-btn">
							<button type="submit" class="btn btn-default">Create</button>
					   	</span>
					</div>
				</form>
				{% with messages = get_flashed_messages() %}
                	{% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center catalogue-all-links">
				<ul class="catalogue-all-list">
				{% for title in titles %}
					<li><h2><a href="/catalogue/{{title.catid}}"> {{title.title}}</a></h2></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
