<section class="catalogue-id-section nav-section-margin-fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title"><a href="/catalogue/{{catalogue.catid}}">{{catalogue.cattitle}}</a></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 catalogue-id-section-col">
                <form action="{{url_for('search_movies')}}" method="post" class="text-center">
                   <div class="input-group catalogue-id-input">
                    <input type="hidden" class="form-control" name="cataloguetitle" value="{{catalogue.cattitle}}">
                    <input type="text" class="form-control" placeholder="Search for movies to add..." name="moviesearchterm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 catalogue-id-options">
            <a href="/catalogue/{{catalogue.catid}}/genre/Action">Action</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Adventure">Adventure</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Animation">Animation</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Comedy">Comedy</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Crime">Crime</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Documentary">Documentary</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Drama">Drama</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Family">Family</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Fantasy">Fantasy</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/History">History</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Horror">Horror</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Mystery">Mystery</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Romance">Romance</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Science+Fiction">Science Fiction</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Thriller">Thriller</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/War">War</a>
            <a href="/catalogue/{{catalogue.catid}}/genre/Western">Western</a>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6 catalogue-id-section-col">
                <form action="{{url_for('catalogue_release_date_fix', cat_id=catalogue.catid)}}" method="post" class="text-center" name="relform">
                    <div class="input-group catalogue-id-input">
                        <input type="number" class="form-control" placeholder="Release Date E.g. 2001" name="reldate">
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Define</button></span>
                    </div>
                </form>
            </div>

            <div class="col-md-6 catalogue-id-section-col">
                <form action="{{url_for('catalogue_budget_fix', cat_id=catalogue.catid)}}" method="post" class="text-center" name="budgetform">
                    <div class="input-group catalogue-id-input">
                        <input type="number" class="form-control" placeholder="Budget E.g. 86000000" name="budget">
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Define</button></span>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6 catalogue-id-section-col">
                <form action="{{url_for('catalogue_runtime_fix', cat_id=catalogue.catid)}}" method="post" class="text-center" name="runtimeForm">
                    <div class="input-group catalogue-id-input">
                        <input type="number" class="form-control" placeholder="Runtime E.g. 120" name="runtime">
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Define</button></span>
                    </div>
                </form>
            </div>

            <div class="col-md-6 catalogue-id-section-col">
                <form action="{{url_for('catalogue_revenue_fix', cat_id=catalogue.catid)}}" method="post" class="text-center" name="revenueForm">
                    <div class="input-group catalogue-id-input">
                        <input type="number" class="form-control" placeholder="Revenue E.g. 86000000" name="revenue">
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Define</button></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">     
        {% if movies is not none %}
        {% for movie in movies |slice(4) %}
            {% for mov in movie %}
            <div class="col-md-3 col-sm-6 col-xs-12 catalogue-id-movie-grid">
                <a href='/movie/{{mov.movieid}}'><img alt="{{mov.movietitle}}" class="img-responsive center-block" src="{{config['TMDB_IMG_BASE_URL']}}{{mov.movieposter}}"></a>
            </div>
            {% endfor %}
        {% endfor %}
        {% else %}
            <div class="col-md-12 text-center catalogue-id-empty">
                <h4>No movies in catalogue</h4>
            </div>
        {% endif %}
        </div>
    </div>
</section>